<form action="{{path('create_order')}}" method="post" enctype="multipart/form-data">
	<div class="user__field-block">
		<label for="categorie">Категория:</label>
		<select id="categorie" name="categorie" required>
			{% for key, name in categories %}
				{% if currCategory == key %}
					<option value="{{key}}" selected class="user__field-value">{{name}}</option>
				{% else %}
					<option value="{{key}}" class="user__field-value">{{name}}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>

	<div class="user__field-block">
		<label for="name" class="user__field-title">Имя:</label>
		<input type="text" id="name" name="name" required class="user__field-value">
	</div>

	<div class="user__field-block">
		<label for="description" class="user__field-title">Описание:</label>
		<textarea id="description" name="description" class="user__field-value"></textarea>
	</div>

	<div class="user__field-block">
		<label for="image_path">Изображение:</label>
		<input type="file" id="image_path" name="image_path" accept=".png, .jpg, .jpeg, .gif">
	</div>

	<div class="user__field-block">
		<label for="price" class="user__field-title">Цена:</label>
		<input type="number" id="price" name="price" required class="user__field-value">
	</div>

	<label>Featured:</label>
	<input type="radio" id="featured_yes" name="featured" value="1" required>
	<label for="featured_yes">1</label>
	<input type="radio" id="featured_no" name="featured" value="0" required>
	<label for="featured_no">0</label>
	<br>

	<button type="submit">Submit</button>
</form>
