<div class="cart">
	<div class="cart-item">
		<div class="cart-item__block first">
			<div class="cart-item__header">Товар</div>
			<div class="cart-item__content cart-item__product">
				<a href="{{path('show_product', {productId: basketItem.product.getId})}}">
					{% if basketItem.product.getImagePath == null %}
						<img class="cart-item__image" src="/uploads/product_images/base_image.png">
					{% else %}
						<img class="cart-item__image" src="/uploads/product_images/{{basketItem.product.getImagePath}}">
					{% endif %}
				</a>	
				<div class="cart-item__description">
					<div class="cart-item__name">{{basketItem.product.getName}}</div>
				</div>
			</div>
		</div>
		<div class="cart-item__block">
			<div class="cart-item__header">Цена</div>
			<div class="cart-item__content cart-item__price">{{basketItem.product.getPrice}} ₽</div>
		</div>
		<div class="cart-item__block">
			<div class="cart-item__header">Количество</div>
			<div class="cart-item__content cart-item__quantity">
				<form class="cart-item__quantity-form" action="{{path('decrease_basket_count', {productId: basketItem.product.getId})}}">
					<button type="submit" class="cart-item__button">-</button>
				</form>
				<input type="text" id="counter" class="cart-item__input" value="{{basketItem.getItemCount}}" readonly>
				<form class="cart-item__quantity-form" action="{{path('increase_basket_count', {productId: basketItem.product.getId})}}">
					<button type="submit" class="cart-item__button">+</button>
				</form>
			</div>
		</div>
		<div class="cart-item__block">
			<div class="cart-item__header">Подытог</div>
			<div class="cart-item__content cart-item__subtotal">{{basketItem.product.getPrice * basketItem.getItemCount}} ₽</div>
		</div>
		<div class="cart-item__block last">
			<div class="cart-item__header"></div>
			<form action="{{path('remove_from_basket', {itemId: basketItem.getId})}}">
				<button class="cart-item__content cart-item__remove" type="submit">×</button>
			</form>
		</div>
	</div>
</div>