<div class="view-form">
    {% if order.getImagePath == null %}
        <img class="order__image" src="/uploads/order_images/base_image.png">
    {% else %}
        <img class="order__image" src="/uploads/order_images/{{order.getImagePath}}">
    {% endif %}
    <div>
        {% for key, name in categories %}
			{% if order.getCategorie == key %}
                <div>
                    <span class="user__field-value">Категория: {{name}}</span>
                </div>
			{% endif %}
		{% endfor %}
        <div class="user__field-block">
            <span class="user__field-value">Название: {{order.getName}}</span>
        </div>
        <div class="user__field-block">
            <span class="user__field-value">Состав: {{order.getDescription}}</span>
        </div>
        <div class="user__field-block">
            <span class="user__field-value">Цена: {{order.getPrice}} ₽</span>
        </div>
        <div class="user__field-block">
            <span class="user__field-value">Акция: {{order.getFeatured}}</span>
        </div>
    </div>
</div>