<div class="product">
    <a href="{{path('show_product', {productId: product.getId})}}">
        {% if product.getImagePath == null %}
            <img class="product__image" src="/uploads/product_images/base_image.png">
        {% else %}
            <img class="product__image" src="/uploads/product_images/{{product.getImagePath}}">
        {% endif %}
    </a>
        <div class="product__text">
            <span class="product__name">{{product.getName}}</span>
            <span class="product__price">{{product.getPrice}} ₽</span>
        </div>
    <a href="{{path('add_product_to_basket', {productId: product.getId})}}" class="product__make">Заказать</a>
</div>